# Site
header{
background-image: url(fundo17.jpg);
width:100%;
height: 300px;
padding: 10px;
}
header h1{
  color: #FFFFFF;
  font-family: palatino;
  font-weight: bold;
  width: 400px;
  position: relative;
  left:17%;
  top: 2px;
}

header h2{
  color:#A63F46;
  font-family: palatino;
  font-size: 40px;
  font-weight: bolder;
  position: relative;
  top: -50px;
}
header img{
  position: absolute;
  left: 550px;
  top: 15px;
  width: 16%;
  border: thin solid;
  border-color:#800000;
  border-style: dashed;
  padding: 5px;
  margin: 50px 10px 10px 0;
}

#menu ul{
  padding: 0px;
  margin: 0px;
  background-color: black;
  list-style: none;
}

#menu ul li{
  display: inline;

}


#menu ul li a{
  padding: 18px 11px;
  display: inline-block;
  background-color:   black;
  color: #FFFFFF;
  border-bottom: 3px solid   black;
  text-decoration: none;
  width:18%;


}
#menu ul li a:hover{
  background-color:  #595959;
  color:  #FFFFFF;
  border-bottom: 3px solid #80004C;
}
#objetivos{
  float: right;
  width: 96%;
  height: 260px;
  padding:50px;
  border-style:inherit;
  border-color: #800000;
  background-color:#80004C;
  margin: 35px 0px 10px;
}
#objetivos h1{
  float:none;
  color: #FFFFFF;
  height: 1px;
  position: relative;
  top:-50px;

}

#objetivos #crescer{
  position: absolute;
  padding: 3px;
  top: 540px;
  left: 5px;
  width: 19%;
  border-style: double;

}
#objetivos #texto1{
  position: absolute;
  width: auto;
  left: 100px;
  font-family: "times";
  font-size: 17px;
}
#objetivos  #problemas{
  position: absolute;
  padding: 4px;
  top: 540px;
  left: 300px;
  width: 19%;
  border-style: double;

}

#objetivos #texto2{
  position: absolute;
  top: 510px;
  width: auto;
  left: 325px;
  font-family: "times";
  font-size: 17px;
}
#objetivos #passar{
  position: absolute;
  padding: 2px;
  top: 540px;
  left: 600px;
  width: 175px;
  border-style: double;
}
#objetivos #texto3{
  position: absolute;
  top: 510px;
  width:auto;
  left: 592px;
  font-family: "times";
  font-size: 17px;
}
#objetivos #desenhar{
  position: absolute;
  padding: 2px;
  top: 540px;
  left: 820px;
  width: 147px;
  border-style: double;
}
#objetivos #texto4{
  position: absolute;
  top: 510px;
  left: 820px;
  font-family: "times";
  font-size: 17px;
}
#conhecimentos{
  float: right;
  width: 96%;
  height: 500px;
  padding: 50px;
  border-style:inherit;
  border-color: #800000;
  color: #A63F46;
  background-color: #008AB8;
  margin: 35px 0px 10px;
}

#conhecimentos h1{
  float:none;
  color: #ffff;
  height: 1px;
  position: relative;
  top:-50px;

}
#conhecimentos .estilizacao{
  display: inline-table;
  width:1500px;
  list-style: none;
}

#conhecimentos .estilizacao li{
  position: relative;
  display: inline-table;
  float: left;
  width: 250px;
  margin: 15px;
  overflow: hidden;
}

#conhecimentos .estilizacao li img{
  width: 250px;
  height: 250px;
  display: inline-table;
  z-index: 999;
  position: absolute;
  transition: 5s;
  border-style: groove;
  border-color: #3F5D7D;
}
#conhecimentos .conteudo{
  display: inline-table;
  width: 255px;
  height: 80px;
  background-color:#3F5D7D;
  overflow: hidden;
  margin-top: 255px;
}
#conhecimentos .estilizacao li:hover img{
  margin-top: -80px;
}

#conhecimentos .estilizacao p{
  color:#ffff;
  position: relative;
  float: left;
  width: 200;
  margin: 10px;
  margin-bottom: 0;
  font-family: "late", sans-serif;
}

#conhecimentos .estilizacao p a{
  text-decoration: none;
  color: #ffff;
}
#conhecimentos .estilizacao .n-mais{
  display: inline-table;
  text-decoration:none;
  color:#ffff:
  float:right;
  padding: 5px;
  background: #660000;
  border-radius: 5px;
  margin: 10px;
}

#conhecimentos .estilizacao .nome-seccao{
  font-size: 16px;
}

#conhecimentos .estilizacao .descricao{
  font-size: 12px;
}

#hobby{
  float: right;
  width: 96%;
  height: 200px;
  padding: 50px;
  border-style:inherit;
  border-color: #800000;
  color: #ffff;
  background-color: #CC0066;
  margin: 35px 0px 10px;
  text-decoration: none;
}
#hobby ul li{
  position: relative;
  margin: 10px;
  list-style:circle;
  display:inline-block;
  color: #fff;
  font-size: 25px;
  width: 300px;
  float: left;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  left: 250px;
  background: black;
  text-decoration: none;
}

#contatos{
  float: right;
  width: 96%;
  height: 200px;
  padding: 50px;
  border-style:inherit;
  border-color: #80000;
  color: #fff;
  background-color: #333333;
  margin: 35px 0px 10px;
  text-decoration: none;
}

#contatos ul li{
  margin: 5px;
  list-style:circle;
  display:inline-table;
  color: #fff;
  width: 300px;
  float: left;
  padding: 40px;
  padding: 40px;
  left: 250px;
  background: #999999;
  text-decoration: none;
}
#contatos ul li a{
  text-decoration: none;
  color: #fff;
}
